In [1]:
# Librer칤as
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Estilo general
sns.set_theme(style="whitegrid")
plt.figure(figsize=(12, 6))

# Crear dataset
df = pd.read_csv('database.csv')

/tmp/ipython-input-4205017301.py:11: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database.csv')

#Descripci칩n de la base de datos

In [ ]:
df.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [ ]:
# N칰mero de registros y variables
print(f"N칰mero de registros: {df.shape[0]}")
print(f"N칰mero de variables: {df.shape[1]}")

In [ ]:
# Clasificaci칩n de variables
categoricas = df.select_dtypes(include=['object']).columns.tolist()
numericas = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

print("游댳 Variables categ칩ricas:")
print("\n".join([f"- {col}" for col in categoricas]))

print("\n游댲 Variables num칠ricas:")
print("\n".join([f"- {col}" for col in numericas]))

In [ ]:
# Descripci칩n general
print("\nDescripci칩n de variables num칠ricas:")
print(df.describe())

#An치lisis inicial de variables

In [ ]:
# Conteo de valores faltantes ordenado de mayor a menor
faltantes = df.isnull().sum().sort_values(ascending=False)

print("\nConteo de valores faltantes por variable:")
print(faltantes[faltantes > 0])  # Solo muestra variables con al menos un valor faltante

In [ ]:
# Conteo de valores 칰nicos por variable
print("\nConteo de valores 칰nicos por variable:")
print(df.nunique().sort_values(ascending=False))

In [ ]:
# Variables m치s importantes
variables_clave = ['City', 'Incident', 'State', 'Year', 'Relationship', 'Weapon', 'Crime Solved', 'Crime Type', 'Perpetrator Age', 'Victim Age',  'Perpetrator Count', 'Victim Count', 'Perpetrator Race', 'Victim Race', 'Perpetrator Sex', 'Victim Sex']
print("\nVista r치pida de variables clave:")
print(df[variables_clave].head())
# Vista r치pida de las variables clave
print("\nEstad칤sticas descriptivas de variables clave:")
print(df[variables_clave].describe())

In [ ]:
#Visualizaciones exploratorias