<a href="https://colab.research.google.com/github/eospgonz10/statistical_analytics_homicide/blob/main/sesiones_practicas/sp_1_juan_jose_garcia_alvarez_estiven_ospina_gonzalez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Librer√≠as
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Estilo general
sns.set_theme(style="whitegrid")
plt.figure(figsize=(12, 6))

# Crear dataset
df = pd.read_csv("database.csv")

/tmp/ipython-input-1611048228.py:11: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("database.csv")

#Descripci√≥n de la base de datos

In [3]:
df.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [4]:
# N√∫mero de registros y variables
print(f"N√∫mero de registros: {df.shape[0]}")
print(f"N√∫mero de variables: {df.shape[1]}")

N√∫mero de registros: 638454
N√∫mero de variables: 24

In [5]:
# Clasificaci√≥n de variables
categoricas = df.select_dtypes(include=['object']).columns.tolist()
numericas = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

print("üîπ Variables categ√≥ricas:")
print("\n".join([f"- {col}" for col in categoricas]))

print("\nüî∏ Variables num√©ricas:")
print("\n".join([f"- {col}" for col in numericas]))

üîπ Variables categ√≥ricas:
- Agency Code
- Agency Name
- Agency Type
- City
- State
- Month
- Crime Type
- Crime Solved
- Victim Sex
- Victim Race
- Victim Ethnicity
- Perpetrator Sex
- Perpetrator Age
- Perpetrator Race
- Perpetrator Ethnicity
- Relationship
- Weapon
- Record Source

üî∏ Variables num√©ricas:
- Record ID
- Year
- Incident
- Victim Age
- Victim Count
- Perpetrator Count

In [6]:
# Descripci√≥n general
print("\nDescripci√≥n de variables num√©ricas:")
print(df.describe())

Descripci√≥n de variables num√©ricas:
          Record ID           Year       Incident     Victim Age  \
count  638454.00000  638454.000000  638454.000000  638454.000000
mean   319227.50000    1995.801102      22.967924      35.033512
std    184305.93872       9.927693      92.149821      41.628306
min         1.00000    1980.000000       0.000000       0.000000
25%    159614.25000    1987.000000       1.000000      22.000000
50%    319227.50000    1995.000000       2.000000      30.000000
75%    478840.75000    2004.000000      10.000000      42.000000
max    638454.00000    2014.000000     999.000000     998.000000

        Victim Count  Perpetrator Count
count  638454.000000      638454.000000
mean        0.123334           0.185224
std         0.537733           0.585496
min         0.000000           0.000000
25%         0.000000           0.000000
50%         0.000000           0.000000
75%         0.000000           0.000000
max        10.000000          10.000000

#An√°lisis inicial de variables

In [7]:
# Conteo de valores faltantes ordenado de mayor a menor
faltantes = df.isnull().sum().sort_values(ascending=False)

print("\nConteo de valores faltantes por variable:")
print(faltantes[faltantes > 0])  # Solo muestra variables con al menos un valor faltante

Conteo de valores faltantes por variable:
Series([], dtype: int64)

In [8]:
# Conteo de valores √∫nicos por variable
print("\nConteo de valores √∫nicos por variable:")
print(df.nunique().sort_values(ascending=False))

Conteo de valores √∫nicos por variable:
Record ID                638454
Agency Code               12003
Agency Name                9216
City                       1782
Incident                   1000
Perpetrator Age             191
Victim Age                  101
State                        51
Year                         35
Relationship                 28
Weapon                       16
Month                        12
Perpetrator Count            11
Victim Count                 11
Agency Type                   7
Victim Race                   5
Perpetrator Race              5
Victim Sex                    3
Perpetrator Sex               3
Victim Ethnicity              3
Perpetrator Ethnicity         3
Crime Solved                  2
Crime Type                    2
Record Source                 2
dtype: int64

In [9]:
# Variables m√°s importantes
variables_clave = ['City', 'Incident', 'State', 'Year', 'Relationship', 'Weapon', 'Crime Solved', 'Crime Type', 'Perpetrator Age', 'Victim Age',  'Perpetrator Count', 'Victim Count', 'Perpetrator Race', 'Victim Race', 'Perpetrator Sex', 'Victim Sex']
print("\nVista r√°pida de variables clave:")
print(df[variables_clave].head())
# Vista r√°pida de las variables clave
print("\nEstad√≠sticas descriptivas de variables clave:")
print(df[variables_clave].describe())

Vista r√°pida de variables clave:
        City  Incident   State  Year  Relationship         Weapon  \
0  Anchorage         1  Alaska  1980  Acquaintance   Blunt Object
1  Anchorage         1  Alaska  1980  Acquaintance  Strangulation
2  Anchorage         2  Alaska  1980       Unknown        Unknown
3  Anchorage         1  Alaska  1980  Acquaintance  Strangulation
4  Anchorage         2  Alaska  1980       Unknown        Unknown

  Crime Solved              Crime Type Perpetrator Age  Victim Age  \
0          Yes  Murder or Manslaughter              15          14
1          Yes  Murder or Manslaughter              42          43
2           No  Murder or Manslaughter               0          30
3          Yes  Murder or Manslaughter              42          43
4           No  Murder or Manslaughter               0          30

   Perpetrator Count  Victim Count               Perpetrator Race  \
0                  0             0  Native American/Alaska Native
1                  0             0                          White
2                  0             0                        Unknown
3                  0             0                          White
4                  1             0                        Unknown

                     Victim Race Perpetrator Sex Victim Sex
0  Native American/Alaska Native            Male       Male
1                          White            Male       Male
2  Native American/Alaska Native         Unknown     Female
3                          White            Male       Male
4  Native American/Alaska Native         Unknown     Female

Estad√≠sticas descriptivas de variables clave:
            Incident           Year     Victim Age  Perpetrator Count  \
count  638454.000000  638454.000000  638454.000000      638454.000000
mean       22.967924    1995.801102      35.033512           0.185224
std        92.149821       9.927693      41.628306           0.585496
min         0.000000    1980.000000       0.000000           0.000000
25%         1.000000    1987.000000      22.000000           0.000000
50%         2.000000    1995.000000      30.000000           0.000000
75%        10.000000    2004.000000      42.000000           0.000000
max       999.000000    2014.000000     998.000000          10.000000

        Victim Count
count  638454.000000
mean        0.123334
std         0.537733
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000

#Visualizaciones exploratorias